# Configure estes valores somente na Vercel. Nunca envie o arquivo com valores reais ao GitHub.
ADMIN_EMAIL=seu-email-de-administrador
ADMIN_PASSWORD=use-uma-senha-longa-e-exclusiva
SESSION_SECRET=gere-uma-frase-aleatoria-com-pelo-menos-32-caracteres
GITHUB_TOKEN=token-fine-grained-com-acesso-ao-repositorio
GITHUB_REPOSITORY=RicardoRibeiro-Prof/ativadigitalon
GITHUB_BRANCH=main
